
body{
        width:1200px ;
        margin: auto;
        background-color: lightgrey;
        text-align: center;
}

nav ul{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    margin-bottom: 20px;

}
nav{
    background-color:gray;
    margin-bottom: 30px;
    padding-left: 116px;
    padding-right: 110px
}
nav ul li{
    font-size: 20px;
    vertical-align: middle;
    margin:auto;
    color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

main>img:first-child{
    width: 960;

}
main div {
    width: 960px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 120px;
}
h2{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
}

div#inline img,div#inline section{
    
    display:inline;
}
#inline p{
    width: 450px;
    overflow-y:scroll;
    height: 350px;
    line-height: 22px;
    
}
button{
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 320px;
}
button:hover{
    background-color: teal;
}
footer{
    background-color: gray;
    padding: 50px 70px;
    margin-top: 20px;
}
